%tr.border-b.border-gray-200.hover
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.full_name
  %td.py-3.px-6.text-left.whitespace-nowrap
    = link_to person.email, "mailto:#{person.email}"
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.phone
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.ethnicity
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.gender_identity
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.lgbt
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.strong_dancer
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.strong_singer
  %td.py-3.px-6.text-left.whitespace-nowrap
    = person.vocal_range
  %td.py-3.px-6.text-left.whitespace-nowrap
    = link_to edit_person_path(person), title: 'Edit', data: { turbo_frame: 'details' } do
      %i.fas.fa-edit
    = link_to person_path(person), method: 'delete', data: { confirm: 'Are you sure?' } do
      %i.fas.fa-trash
