%div{ data: { controller: 'select' } } 
  = simple_form_for author, data: { turbo_frame: '_top' } do |f|
    = f.input :first_name, disabled: !policy(author).edit?
    = f.input :last_name, disabled: !policy(author).edit?

    %fieldset.border.border-solid.border-gray-300.p-3.my-4.block
      %legend Demographics
      = render(SimpleModalComponent.new(button_text: 'Why these questions?', message: 'We are collecting demographic data in order to provide a tool where theater professionals can search for plays that will help them achieve their diversity goals.'))

      = f.input :gender_identity, as: :select, collection: Constants.gender_identities_for_select, disabled: !policy(author).edit?
      = f.input :ethnicity, as: :select, collection: Constants.ethnicities_for_select, input_html: { multiple: true }, class: 'block', include_hidden: false, disabled: !policy(author).edit?
      = f.input :lgbt, disabled: !policy(author).edit?
    - if policy(author).edit?
      = f.button :submit, class: 'float-right my-4'
%h3.w-full.mx-auto.text-l.font-bold.clear-both
  Shows
  - if policy(author).edit?
    .btn.btn-secondary.btn-sm.float-right
      = link_to 'New Show', "shows/new_from_author/#{author.id}", data: { turbo_frame: 'details' }
%ul#show_list.divide-y.divide-gray-100.clear-both
  - author.shows.each do |show|
    %li.p-3.hover:bg-blue-600.hover:text-blue-200
      = link_to show.name, show_path(show, page: show.page_number(by: :name)), data: { turbo_frame: '_top' }
