%head
  %title
    - if content_for?(:title)
      = yield :title
      |
    Ghostlight Folio
  = csrf_meta_tags
  = csp_meta_tag
  %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
  = stylesheet_pack_tag  'application', media: 'all', 'data-turbo-track': 'reload'
  = javascript_pack_tag  'application', 'data-turbo-track': 'reload'