.max-w-lg.mx-auto.mt-16.prose
  = inline_svg_tag 'ghostlightfolio-linear-black.svg', size: '200px', class: 'mx-auto my-8'
  %h1.mb-4.text-3xl.font-black.text-center
    Welcome to Ghostlight Folio
  %h2.mb-4.text-2xl.font-black.text-center  
    Your new best friend for production planning
  %h3.mb-4.text-xl.font-black.text-center
    - unless user_signed_in?
      Please
      = link_to 'login', new_user_session_path
      or 
      = link_to 'sign up', new_user_registration_path
      to begin.
    - else
      Let's get started! View and manage
      = link_to 'authors', authors_path
      or
      = link_to 'shows', shows_path
