.max-w-lg.mx-auto.mt-16.prose.flex-grow
  %h1 Contact me
  %p I'd love to hear from you and I will do my best to get back to you as soon as I can. If you are requesting editor access, please let me know why in your message.
  = form_for @contact, url: contacts_path, data: { turbo_frame: '_top' } do |f|
    .form_content
      .form-control.my-8
        = f.text_field  :name, required: true, class: 'input input-bordered', placeholder: 'Your Name'
      .form-control.my-8
        = f.text_field :email, required: true, class: 'input input-bordered', placeholder: 'Your E-mail Address'
      .form-control.my-8
        = f.label :request_editor_access, 'Request editor access', class: 'cursor-pointer label' do
          %span.label-text Request editor access
          = f.check_box :request_editor_access, class: 'checkbox'
      .form-control.my-8
        = f.text_area :message,
                      rows: 8,
                      cols: 40,
                      required: true,
                      class: 'textarea h-24 textarea-bordered',
                      placeholder: 'Your Message'

      .hidden
        = f.text_field :nickname

      = f.submit 'Send Message', class: 'btn btn-primary'
