%div{ data: { controller: 'select' } } 
  = simple_form_for [role.show, role] do |f|
    = f.input :age_max
    = f.input :age_min
    = f.input :description
    %fieldset.border.border-solid.border-gray-300.p-3.my-4.block
      %legend Demographics
      = render(SimpleModalComponent.new(button_text: 'Why these questions?', message: 'We are collecting demographic data in order to provide a tool where theater professionals can search for plays that will help them achieve their diversity goals.'))

      = f.input :gender_identity, as: :select, collection: Constants.gender_identities_for_select
      = f.input :ethnicity, as: :select, collection: Constants.ethnicities_for_select, input_html: { multiple: true }, class: 'block'
      = f.input :lgbt
    = f.input :strong_singer
    = f.input :strong_dancer

    = f.button :submit