= stylesheet_link_tag 'email', media: 'all', 'data-turbo-track': 'reload'
%div.text-center.m-4.font-sans.w-75{ role: "article", aria_roledescription: "email", aria_label: "Confirm your signup", lang: "en" }
  %p.text-2xl.font-semibold
    Welcome to Ghostlight Folio, #{@email}!
  %p We are excited to have you join our project.
  %p 
    Right now we are still in our infancy and are looking for your feedback regarding what
    features and improvements would be most useful. At the moment we have a database of 
    authors and shows, and most shows have role data associated with them. 
  %p
    Our data is still growing and improving - we welcome your additions and edits. If you would like
    to be a contributor please email us via our
    = link_to 'contact form', contacts_url
    and let us know, we will be happy to add you.
  %p
    For more information, check out our
    = link_to 'about page', abouts_url
    and our
    = link_to 'help page', help_index_url
  %p 
    A good next step after confirming your account would be to view 
    = link_to 'Shows', shows_url
    or
    = link_to 'Authors', authors_url
  %p But first, you can confirm your account email through the link below:
  %p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'inline-block py-20 px-24 text-sm leading-none no-underline text-white font-semibold uppercase rounded bg-blue-500 hover:bg-blue-600'
