%div{ data: { controller: 'select' } } 
  = simple_form_for show, data: { turbo_frame: '_topp'} do |f|
    = f.input :name, disabled: !policy(show).edit?
    = f.association :authors, include_blank: false, disabled: !policy(show).edit?
    = f.input :year_written, disabled: !policy(show).edit?
    = f.input :rights_holder, disabled: !policy(show).edit?
    = f.input :public_domain, disabled: !policy(show).edit?
    - if policy(show).edit?
      = f.button :submit
#h3.w-full.mx-auto.my-4.text-l.font-bold
  Roles
%ul.divide-y.divide-gray-100
  - show.roles.each do |role|
    %li.p-3.hover:bg-blue-600.hover:text-blue-200
      = link_to role.name, edit_show_role_path(show_id: show.id, id: role.id)
