%div{ data: { controller: 'show-form' } } 
  = simple_form_for show do |f|
    = f.input :name
    = f.association :authors, include_blank: false
    = f.input :year_written, as: :date, html5: true 
    = f.input :copyright_year, as: :date, html5: true 
    = f.input :public_domain
    = f.button :submit
