%tr.border-b.border-gray-200.hover{ data: { action: 'click->table-row#click', link: edit_show_path(show) } }
  %td.py-3.px-6.text-left.whitespace-nowrap
    = show.name
  %td.py-3.px-6.text-left.whitespace-nowrap
    = show.authors_for_display
  %td.py-3.px-6.text-left.whitespace-nowrap
    = show.year_written
  %td.py-3.px-6.text-left.whitespace-nowrap
    = show.copyright_year
  %td.py-3.px-6.text-left.whitespace-nowrap
    = show.public_domain
