%tr.hover{ id: dom_id(show), data: { action: 'click->table-row#click', link: edit_show_path(show) } }
  %td
    = show.name
  %td
    = show.authors_for_display
  %td
    = Constants::SHOW_TYPES[show.show_type&.to_sym]
  %td
    = Constants::SHOW_GENRES[show.genre&.to_sym]
  %td
    = show.year_written
  %td
    = inline_svg_tag 'check.svg' if show.public_domain
