%tr{ data: { action: 'click->table-row#click', link: edit_show_path(show) } }
  %td
    = show.name
  %td
    = show.authors_for_display
  %td
    = show.year_written
  %td
    = show.copyright_year
  %td
    = show.public_domain
