%div{ class: 'col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-4 xxl:col-span-4 mx-8 main_area overflow-y-scroll' }
  = turbo_frame_tag 'details' do
    .w-full.mx-auto.my-8.text-xl.font-bold
      = show.name
      = link_to 'Delete Show', show_path(show), method: 'delete', class: 'btn btn-sm btn-error float-right', data: { confirm: 'Are you sure you want to delete this show? All roles will also be deleted.' } if policy(show).destroy?
    - show.authors.each do |author|
      .btn.btn-sm.btn-outline
        = link_to author.name.full, author_path(author), data: { turbo_frame: '_top' }
    = render partial: 'form', locals: { show: show }
