- content_for(:main) do
  .w-full.mx-auto.my-8.text-xl.font-bold
    %h2.float-left
      Shows
    %label#advanced_search_link{ for: "simple-modal", class: "btn btn-outline modal-button float-right" }
      Advanced Search
    %input{ type: "checkbox", id: "simple-modal", class: "modal-toggle", style: 'display: none' } 
    .modal
      = search_form_for @q, data: { turbo_frame: '_top' } do |f|
        .modal-box.text-sm.font-light{ data: { controller: 'select' } }
          %h2.text-lg.font-bold
            Advanced Search
          %ul
            %li.my-4.block#show_name
              = f.label :name_cont
              = f.search_field :name_cont, class: 'input input-bordered'
            %li.my-4.block#author_ethnicity
              = f.label :credits_author_ethnicity_contains
              = f.select :credits_author_ethnicity_contains, Constants.ethnicities_for_select, include_blank: true
            %li.my-4.block#author_gender_identity
              = f.label :credits_author_gender_identity_eq
              = f.select :credits_author_gender_identity_eq, Constants.gender_identities_for_select, include_blank: true
            %li.my-4.block#author_lgbt
              = f.label :credits_author_lgbt_eq
              = f.select :credits_author_lgbt_eq, [['Yes', 1], ['No', 0]], include_blank: true
          .modal-action
            %label{ for: "simple-modal", class: "btn btn-outline btn-sm" }
              Cancel
            = f.submit class: 'btn btn-primary btn-sm'
    = link_to 'Add Show', new_show_path, class: 'btn btn-outline mb-2 lg:mr-2 lg:mb-0 float-right', data: { turbo_frame: 'details' } if policy(shows).edit?
  .w-full.lg.overflow-auto
    .bg-white.rounded.my-6
      = turbo_stream_from :shows
      %table.hover.stripe{ data: { controller: 'table-row' } }
        %thead
          %th
            Name
          %th
            Author
          %th
            Year Written
          %th
            Copyright Year
          %th
            Public Domain
        %tbody
          - shows.each do |show|
            = render partial: 'show', locals: { show: show }
