- content_for(:main) do
  .w-full.mx-auto.my-8.text-xl.font-bold
    %h2.float-left
      Shows
    %label#advanced_search_link{ for: "simple-modal", class: "btn btn-outline modal-button float-right", title: 'Search' }
      %i.fa.fa-search.mx-2          
    %input{ type: "checkbox", id: "simple-modal", class: "modal-toggle", style: 'display: none' } 
    .modal.clearfix
      = search_form_for @q, data: { turbo_frame: '_top' } do |f|
        .modal-box.text-sm.font-light{ data: { controller: 'select' } }
          %h2.text-lg.font-bold
            %i.fa.fa-search.mx-2          
            Search
          %ul.clearfix
            %li.search-row.my-4.block#show_name
              = f.label :name_cont, 'Show name', class: 'search-label'
              = f.search_field :name_cont, class: 'input input-bordered search-field ml-4'
            %li.search-row.my-4.block#show_name
              = f.label :credits_author_first_name_cont, 'Author first name', class: 'search-label'
              = f.search_field :credits_author_first_name_cont, class: 'input input-bordered search-field ml-4'
            %li.search-row.my-4.block#show_name
              = f.label :credits_author_last_name_cont,  'Author last name', class: 'search-label'
              = f.search_field :credits_author_last_name_cont, class: 'input input-bordered search-field ml-4'
            %li.search-row.my-4.block#author_ethnicity
              = f.label :credits_author_ethnicity_contains, 'Author ethnicity', class: 'search-label'
              = f.select :credits_author_ethnicity_contains, Constants.ethnicities_for_select, include_blank: true, class: 'search-field'
            %li.search-row.my-4.block#author_gender_identity
              = f.label :credits_author_gender_identity_eq, 'Author gender identity', class: 'search-label'
              = f.select :credits_author_gender_identity_eq, Constants.gender_identities_for_select, include_blank: true, class: 'search-field'
            %li.search-row.my-4.block#author_lgbt
              = f.label :credits_author_lgbt_eq, 'Author LGBT?', class: 'search-label'
              = f.select :credits_author_lgbt_eq, [['Yes', 1], ['No', 0]], include_blank: true, class: 'search-field'
            %li.search-row.my-4.block
              = f.label :show_type_eq, 'Show type', class: 'search-label'
              = f.select :show_type_eq, Constants.show_types_for_select, include_blank: true, class: 'search-field'
            %li.search-row.my-4.block
              = f.label :genre_eq, 'Show genre', class: 'search-label'
              = f.select :genre_eq, Constants.show_genres_for_select, include_blank: true, class: 'search-field'
            %li.search-row.my-4.block#public_domain
              = f.label :public_domain_eq, 'Public Domain?', class: 'search-label'
              = f.select :public_domain_eq, [['Yes', 1], ['No', 0]], include_blank: true, class: 'search-field'
          .modal-action.clear-both
            %label{ for: "simple-modal", class: "btn btn-outline btn-sm float-right" }
              Cancel
            = f.submit class: 'btn btn-primary btn-sm float-right'
    = link_to 'Add Show', new_show_path, class: 'btn btn-outline mb-2 lg:mr-2 lg:mb-0 float-right', data: { turbo_frame: 'details' } if policy(shows).edit?
  .w-full.lg.overflow-auto
    .bg-white.rounded.my-6
      = turbo_stream_from :shows
      %table.table.table-zebra.w-full.table-compact{ data: { controller: 'table-row' } }
        %thead
          %th
            %a{ href: sort_url(@q, :name), data: { turbo_frame: '_top' } }
              Name
          %th
            %a{ href: sort_url(@q, 'credits_author_last_name'), data: { turbo_frame: '_top' } }
              Author
          %th
            %a{ href: sort_url(@q, :show_type), data: { turbo_frame: '_top' } }
              Type
          %th
            %a{ href: sort_url(@q, :genre), data: { turbo_frame: '_top' } }
              Genre
          %th
            %a{ href: sort_url(@q, :year_written), data: { turbo_frame: '_top' } }
              Year Written
          %th
            %a{ href: sort_url(@q, :public_domain), data: { turbo_frame: '_top' } }
              Public Domain
        %tbody
          - shows.each do |show|
            = render partial: 'show', locals: { show: show }
  = paginate shows
