- content_for(:main) do
  .w-full.mx-auto.my-8.text-xl.font-bold
    %span.float-left
      Shows
    = link_to 'Add Show', new_show_path, class: 'btn btn-outline btn-primary mb-2 lg:mr-2 lg:mb-0 float-right', data: { turbo_frame: 'details' }
  .w-full.lg.overflow-auto
    .bg-white.rounded.my-6{ data: { controller: 'datatable' } }
      %table.hover.stripe{ data: { controller: 'table-row' } }
        %thead
          %th
            Name
          %th
            Author
          %th
            Year Written
          %th
            Copyright Year
          %th
            Public Domain
        %tbody
          - shows.each do |show|
            = render partial: 'show', locals: { show: show }
- content_for(:frame) do
  %div{ class: 'col-span-12 sm:col-span-12 md:col-span-5 lg:col-span-4 xxl:col-span-4 mx-8' }
    = turbo_frame_tag 'details' do
      .w-full.mx-auto.my-8.text-xl.font-bold
        = show.name
      = render partial: 'form', locals: { show: show }  